In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [35]:
data=pd.read_csv('Churn_Modelling.csv')
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

## Preprocessing

In [3]:
## drop irrelivent columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [34]:
data.head(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
5,645,1,44,8,113755.78,2,1,0,149756.71,1,0.0,0.0,1.0
6,822,1,50,7,0.00,2,1,1,10062.80,0,1.0,0.0,0.0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0.0,1.0,0.0
8,501,1,44,4,142051.07,2,0,1,74940.50,0,1.0,0.0,0.0
9,684,1,27,2,134603.88,1,1,1,71725.73,0,1.0,0.0,0.0

In [5]:
pd.unique(data['Geography'])

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
# Encode Gender
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
# combine data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [11]:
data.head(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
5,645,1,44,8,113755.78,2,1,0,149756.71,1,0.0,0.0,1.0
6,822,1,50,7,0.00,2,1,1,10062.80,0,1.0,0.0,0.0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0.0,1.0,0.0
8,501,1,44,4,142051.07,2,0,1,74940.50,0,1.0,0.0,0.0
9,684,1,27,2,134603.88,1,1,1,71725.73,0,1.0,0.0,0.0

In [12]:
data.isnull().sum(axis=0)

CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [13]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

Divide input and output features

In [14]:
X=data.drop('Exited',axis=1)
y=data['Exited']

Train Test Split

In [15]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
scaler=StandardScaler()
X_Train=scaler.fit_transform(X_Train)
X_Test=scaler.transform(X_Test)

In [17]:
X_Train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [18]:
X_Test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [19]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
import datetime

WARNING:tensorflow:From e:\Churn Modelling\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

ANN Model Building

In [21]:
(X_Train.shape[1],)

(12,)

In [22]:
model =Sequential([
    Dense(64,activation='relu',input_shape=(X_Train.shape[1],)), ##Hidden Layer 1
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From e:\Churn Modelling\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [23]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryFocalCrossentropy()

Compile the model

In [25]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

Setup the Tenserboard

In [26]:
log_dir="logs/fit"+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

Setup Early Stopping

In [27]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

Train the MODEL

In [28]:
history=model.fit(
    X_Train,y_Train,validation_data=(X_Test,y_Test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From e:\Churn Modelling\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\Churn Modelling\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 0.3946 - accuracy: 0.8328 - val_loss: 0.3642 - val_accuracy: 0.8515
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3544 - accuracy: 0.8590 - val_loss: 0.3448 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8572 - val_loss: 0.3554 - val_accuracy: 0.8605
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8601 - val_loss: 0.3570 - val_accuracy: 0.8515
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8611 - val_loss: 0.3390 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8595 - val_loss: 0.3447 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8633 - val_loss: 0.3578 - val_accuracy: 0.8520
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8631 - val_loss: 0.3416 - val_accuracy: 0.8615
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8666 - val_loss: 0.3495 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8676 - val_loss: 0.3468 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3275 - accuracy: 0.8651 - val_loss: 0.3427 - val_accuracy: 0.8630
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8669 - val_loss: 0.3494 - val_accuracy: 0.8595
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3230 - accuracy: 0.8679 - val_loss: 0.3482 - val_accuracy: 0.8590
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8711 - val_loss: 0.3575 - val_accuracy: 0.8585
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8691 - val_loss: 0.3510 - val_accuracy: 0.8560

In [29]:
model.save('model.h5')

e:\Churn Modelling\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

Load TensorBoard Extension

In [30]:
%load_ext tensorboard

In [33]:
%tensorboard --logdir logs/fit20260204-004913

Reusing TensorBoard on port 6007 (pid 7108), started 13:44:04 ago. (Use '!kill 7108' to kill it.)